$blue:  #28F;  // primary
$gray-600: #666666; // secondary
$green:  #006400; // success
$cyan: #17a2b8; // info
$yellow:  #ffc107; // warning
$red:  #DC3545; // danger
$gray-100: #f8f8f8; // light
$gray-800: #383838; // dark

// pour appel direct
$bgcolor-header: $yellow;
$color-secondary: $gray-600;
$color-success: $green;
$color-info: $cyan;
$color-warning: $yellow;
$color-danger: $red;
$color-light: $gray-100;
$color-dark: $gray-800;